:root{
    --brand-color-orange: rgb(243, 79, 14);
    --brand-color-orange-light: rgb(248 , 145 ,110);
    --brand-color-white: rgb(252, 247, 247);
    --bg-color: rgb(255, 250, 250);
    --brand-color-black: rgb(0, 0, 0);
    --trans: 300ms ease-in-out;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 110px;
}
.log{
    width: 100%;
    height: 100%;
}

.access-content{
    width: 40%;
    height: 100vh;
    background-color: var(--brand-color-orange-light);

}

.nav-bar{
    width: 100%;
    height: 70px;
}



img{
  width: 100%;
}

.nav-bar .container .logo{
    width: 200px;
}


.form-side{
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
}


.form-side .container{
    width: 100%;
    height: 60px;
}

.form-side .login-btn{
    font-size: 20px;
    font-weight: 700;
}

.form-side .signup-btn{
    padding: 13px 35px;
    border-radius: 6px;
    background-color: var(--brand-color-orange);
    font-size: 20px;
    font-weight: 700;
}

.signup-btn:hover{
    background-color: var(--brand-color-orange-light);
    transition: var(--trans);

}

.form-side p{
    font-size: 20px;
    font-weight: 500;
}

.form {
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
}

.login-signup{
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    background-color: var(--brand-color-orange);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.login-signup:hover{
    background-color: var(--brand-color-orange-light);
    transition: var(--trans);

}





