a{
    text-decoration: none;
}

.container{
    padding: 0 110px;
}
.log{
    width: 100%;
    height: 100%;
}

.access-content{
    width: 40%;
    height: 100vh;
    background-color: blueviolet;

}

.nav-bar{
    width: 100%;
    height: 70px;
}



img{
  width: 100%;
}

.nav-bar .container .logo{
    width: 200px;
}


.form-side{
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: aqua; */
}


.form-side .container{
    width: 100%;
    height: 60px;
}

.form-side .login-btn{
    font-size: 20px;
    font-weight: 700;
}

.form-side .signup-btn{
    padding: 13px 35px;
    border-radius: 6px;
    background-color: orange;
    font-size: 20px;
    font-weight: 700;
}

.form-side p{
    font-size: 20px;
    font-weight: 500;
}

.form {
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
}

.login-signup{
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    background-color: orange;
    border: none;
    font-size: 20px;
    font-weight: 700;
}



